.sidebar {
  flex: 1; 
  background-color: rgb(1 1 1); 
  top: 50px;
  /* position: fixed;
  z-index: 999;
  width: 160px; */
}

.sidebarWrapper {
  padding: 5px;
  color: #fff;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #fff;
  color: #000;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
